*.csv
__pycache__/
.ipynb_checkpoints/

# Environnements virtuels (couvre tous les sous-dossiers)
.venv/
**/.venv/
.env

# Clés de sécurité et identifiants GCP
*.json

# Fichiers système & temporaires
.DS_Store
__pycache__/